<html>
    <head>
        <title>{{ title }} - Microblog</title>
    </head>
    <body>
        <h1>Hello tu veux des info ? en voila , {{ data.user }}!</h1>
				 
				<p style="color: rgb(255, 0, 0)">machine : {{ data.machine }}</p>
					
				<p>OS : {{ data.os }}</p>
				
				<p>Distribution : {{ data.dist }} </p>
					<p style="padding-left:20px">- {{ elem }}</p> 
				<p>Interfaces : </p>
				{% for inter in data.interfaces %}
					<p style="padding-left:20px">- {{ inter }}</p> 
				{% endfor %}
				<p>log : {{ data.log}} </p>
				
				{% for elem in list_files%}
					
					<a href="{{elem}}">- {{ elem }}</a>
				{% endfor %}				

                                {% for elem in list_path%}

                                        <a href="{{elem}}">- {{ elem }}</a>
                                {% endfor %}    </body>
</html>
